<body>
<div id="wrapper">
    <header>
        <h1>Assignment 2 - Carson Black</h1>
    </header>
    <article>
        <h3><br>Welcome to my website! Use the navigation bar for more information<br></h3>
        <figure id ="home">
            <img src="School.jpg" width="400" height="250" alt="your browser doesnt not support this image">
        </figure>
    </article>
</div>

</body>