<footer>
    <nav class = "navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text"><i class="fa-brands fa-github"></i> Github: <a href="https://github.com/CarsonBlackOTU">My Github</a><br>
        <i class="fa-brands fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/carson-black-5b8144301/">My Linkedin</a><br>
        &copy; Copyright 2024. All rights reserved</h6>
    </nav>
  </footer>
</body>
</html>