<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<body>
    <div id="wrapper">
        <header><h1><i class="fa-solid fa-user-large"></i> About Me: </h1></header>
        <div class="container">
            <div class="row">
              <div class="col-sm-auto">
                <section><figure><img src="AboutMe.jpg" width="350" height="230" alt="Image no avaliable"></figure></section>
              </div>
              <div class="col-sm-auto">
            <section><p>My name is Carson Black and I am a 20 year old student at Ontario tech University. <br> 
                I am in my second year of the IT networking and Security program. My favorite topics <br>
                are Routing, Computer Architecture, and Computer Security</p></section>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-auto">
                    <section><p><h2>Video:</h2></p></section>
                </div>
                <div class="col-sm-auto">
              <section><video width="500" height="250" controls muted loop poster="posterimage.jpg">
                <source src="AboutMeVideo.mp4">
                your browser doesnt support the video tag
            </video></section>
                </div>
              </div>
          </div>
    </div>
</body>
<%- include Partials/footer.ejs %>
<%- include Partials/footer.ejs %>