<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<body>
<div id="wrapper">
    <header>
        <h1><i class="fa-regular fa-address-book"></i> Contact Me Here:</h1>
    </header>
    <form action="mailto:carson.black@ontariotechu.net" method="post" enctype="text/plain">
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Smith">
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Send Message Here</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
        </div>
        <button type="submit" class="btn btn-success">submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </form>
      <br>
      <section><h3>Additional Ways to Contact Me:</h3>
      <p><i class="fa-solid fa-phone"></i> Phone: <a href="tel:0000000000">123-123-1234</a><br>
        <i class="fa-regular fa-envelope"></i> Email: <a href="mailto:carson.black@ontariotechu.net">Carson.Black@ontariotechu.net</a><br>
         <i class="fa-brands fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/carson-black-5b8144301/">My Linkedin</a><br>
         
      </p></section>
</div>
</body>
<%- include Partials/footer.ejs %>