<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<body>
    <div id="wrapper">
        <header><h1><i class="fa-solid fa-clipboard-list"></i> Project Portfolio: </h1></header>
        <div class="container">
            <div class="row">
              <div class="col-sm-auto">
                <section><h3>Project 1 : Python Encryption-Decrpytion Calculator </h3><br>For the final Project in Object Oriented Programming, I created a python program <br> that takes plain text and applies a random encryption method on it choosing from <br>
                    RSA, Playfair, Caesar, Substitution, and product ciphers.<br><br></section>
              </div>
              <div class="col-sm-auto">
                <section><img src="Crypt.jpg" width="400" height="250" alt="Image no avaliable"></section>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-auto">
                    <section><h3>Project 2: Python Text Games</h3>Create various python text games for my intro to programming class. Some examples include<br> 
                        word guessing games and random number guessing games.<br><br></p></section>
                </div>
                <div class="col-sm-auto">
                    <section><img src="Python (1).jpg" width="400" height="250" alt="Image no avaliable"></section>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-auto">
                <section><h3>Project 3: Cisco Packet Tracer BGP Simulation</h3>For the final assingment in Intro to Networking 2 we created a packet tracer simulation of the<br>
                     internet using BGP between 3 remote networks.</p></section>
                </div>
                <div class="col-sm-auto">
                    <section><img src="Project3.jpg" width="400" height="250" alt="Image no avaliable"></section>
                </div>
              </div>

          </div>
    </div>
</body>
<%- include Partials/footer.ejs %>