<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<body>
    <div id="wrapper">
        <header><h1><i class="fa-solid fa-clipboard-list"></i> Project Portfolio: </h1></header>
    
    </div>
</body>
<%- include Partials/footer.ejs %>