
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper {
  background-color: rgb(128, 128, 203);
  width: 90%;
  height: 800px;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
}

p {
  border-radius: 10px;
}

